/*Import Fonts easily*/
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");


/* Defaults */
html{
    height: 100%;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin-top:0;
    padding-top:0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background: linear-gradient(rgba(46, 41, 87, 0.8) 0%, rgba(46, 41, 87, 0.6) 90%, rgba(46, 41, 87, 0.5) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

strong, b{
    color: #ffffff;
    font-weight: 600;
}
em, i{
    font-style: italic;
}

h1, h2, h3{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/* Page Wrapping*/
#page{
    
    margin-top: 0;
    
    width:100%;
    position: absolute;
    
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* Header */
    #head{
        position:fixed;
        width: 100%;
        background: rgb(41, 32, 90);
        transition: 0.4s;
        pointer-events: none;
        min-height: 5em;
        filter: drop-shadow(0 0 0.75rem black);
        opacity: 0%;
        z-index: 1;
    }

    #head a{
        top: .2em;
        left: .2em;
        position: absolute;
        float: left;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 2em;
        color: rgba(199, 192, 251, 0.9);
    }

    #head a:hover{
        filter: drop-shadow(0 0 0.55rem black);
    }
    

    #menuBTN{
        position: fixed;
        top: 2px;
        right: 21px;
        font-size: 3.5em;
        color: rgba(199, 192, 251, 0.9);
        transition: .4s;
        rotate: 0deg;
        z-index: 3;
        
    }
    #menuBTN:hover{
        filter: drop-shadow(0 0 0.55rem black);
    }

    .menuStyle{
        top:0;
        position:fixed;
        z-index:2;
        align-content:  right;
        padding: .5% 1%;
        width: 268px;
        right:-1000px;        
        overflow: hidden;
        background-color: rgba(46, 41, 87, 0.9);
        border:1px solid rgba(199, 192, 251, 0.9);
        padding-left: .2%;
        transition: .35s;
        pointer-events: none;
    }

    .menuStyle h2{
        color: rgba(199, 192, 251, 0.9);
        position: relative;
        font-size:3em;
        left:2%;
        text-transform: uppercase;
        top: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .menuStyle h2:after{
        margin-top: .2rem;
        margin-bottom: 0;
        content:' ';
        display:block;
        border:1px solid rgba(199, 192, 251, 0.9);
    }

    .links{
        top: 0;
        align-content: center;        
    }

    .menuStyle .links a{
        padding: 0% 5%;
        font-size:2em;
        text-decoration: none;
        color: rgba(156, 146, 236, 0.9);
        display: block;
        pointer-events: auto;
    }

    .menuStyle .links a:after{
        margin-top: .2rem;
        margin-bottom: 0;
        content:' ';
        display:block;
        border:1px solid rgba(199, 192, 251, 0.3);
    }

    .menuStyle a:hover{
        color: rgba(199, 192, 251, 0.9);
        filter: drop-shadow(0 0 0.55rem rgba(62, 59, 78, 0.9));
        font-weight: bolder;
    }

    .menuStyle .closeBTN{
        color: rgba(199, 192, 251, 0.9);
        position: relative;
        font-size:1.4em;
        left:80%;
    }

    .menuStyle .closeBTN:hover{
        color: rgba(251, 192, 192, 0.9);
        transition: .2s;
    }

/* Banner */

    #banner{
        font-family:"Source Sans Pro", Helvetica, sans-serif;
        font-weight:normal;
        font-style: normal;
        letter-spacing: .05em;
        text-transform: uppercase;

        align-content: center;

    }

    #banner h1{
        font-size: 4em;
        color: rgb(221, 218, 218);
        padding: 0% 10%;
    }

    #banner h1:after{
        margin: 3% 0%;
        content:' ';
        display:block;
        border:1px solid rgba(221, 218, 218, 0.5);
    }

    #banner p{
        font-size:2em;
        color: rgb(221, 218, 218);
        padding: 0% 10%;
    }

    #banner:after{
        margin: 6% 0%;
        content:' ';
        display:block;
        border:1px solid rgb(197, 197, 197);
    }


/* Recent Projects */
.rec_projs{

}

/* Photography */
.photography{

}