.ig_pos1{
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../rndImages/1.jpg");
    background-size: auto,
}

.ig_pos2{
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../rndImages/1.jpg");
    background-size: auto,
}

.ig_pos3{
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../rndImages/1.jpg");
    background-size: auto,
}

.ig_pos4{
    background-color: #2e3141;
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../../rndImages/1.jpg");
    background-size: auto,
    
}